/*SMALLEST SCREENS*/

/*BODY BACKGROUND*/

body {
    background-color: #F0F0F0;
}

/*THE WHITE STRIPE*/
#stripe {
    height: 80px;
    background-color: white;
    margin-top: 15px;
}

/*THE MAIN CONTAINER...IT HAS A FIXED POSITION AND Z-INDEX SO IT FLOATS ON TOP OF THE STRIPE*/
.container-fluid {
    position: absolute;
    z-index: 1000;
    top: 3px;
}

.links *{
    color: black;
}

/*PARAGRAPHS*/
p {
    font-family: "Abel", sans-serif;
}

/*CODEUP DESIGN TEXT AT TOP*/
#codeup-design {
    font-size: 40px;
}

/*LOGO IMAGE*/
#logo img {
    height: 105px;
}

/*LOGO CONTAINER*/
#logo-holder {
    text-align: center;
}

/*TEXT FOR TWO HEADERS ABOVE CIRCLES*/
.second-section {
    font-family: "Anton", sans-serif;
}


/*THE CIRCLES*/
.circle {
    border: 6px solid white;
    height: 150px;
    max-width: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*THE TEXT IN THE CIRCLES*/
.circle * {
    color: white;
    font-family: "Anton", sans-serif;
}

/*THE FOUR CIRCLE BACKGROUND COLORS*/
.cir-1 {
    background-color: #EB9D3A;
}

.cir-2 {
    background-color: #DEA03D;
}

.cir-3 {
    background-color: #7CB06C;
}

.cir-4 {
    background-color: #00ABA9;
}

/*THE NAV-LINKS THAT HIDE ON SMALLER SIZES*/
#hidden-top {
    position: absolute;
    z-index: 500;
    top: 45px;
    width: 100%;
}

/*THEY DON'T SHOW UP AT THIS SIZE'*/
#hidden-top * {
    display: none;
    color: black;
}

/*THIS CONTAINS THE FOUR CIRCLES*/
.circle-row {
    width: 75%;
    margin: auto;

}

/*THE FIGURES*/
figure {
    max-width: 100%;
}

/*IMG INSIDE THE FIGURE*/
figure img {
    height: 100%;
    border-radius: 5px;
    border: 5px solid #E6E6E6;
}

/*THE HIDDEN HR BEFORE MEDIUM*/
hr {
    display: none;
}

/*THE LAST IS HIDDEN UNTIL MEDIUM*/
.the-last {
    display: none;
}

/*AND SO IS THE THIRD COLUMN*/
.hidden-below-medium {
    display: none;
}

/*TEXT INSIDE THE PILLS*/
.pill p {
    font-family: 'Anton', sans-serif;
    font-size: .75em;
    margin-bottom: 0;
}

/*THE PILLS BELOW THE IMAGES*/
.pill {
    border-radius: 50%;
    max-height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*THE FOUR PILL BACKGROUND COLORS*/
.pill-1 {
    background-color: #E6563B;
}

.pill-2 {
    background-color: #DEA03D;
}

.pill-3 {
    background-color: #7CB06C;
}

.pill-4 {
    background-color: #00ABA9;
}

.third-column-img {
    height: 80px;
    width: 80px;
    border-radius: 5px;
    border: 5px solid #E6E6E6;
}

.hidden-below-medium h5 {
    font-family: "Anton", sans-serif;
}

i {
    color: #1DA1F2;
}


/*MEDIA QUERY FOR SMALL-MEDIUM*/
@media screen and (min-width: 576px) and (max-width: 767px) {
    /*SHOWS THE HIDDEN TOP NAV-LINKS*/
    #hidden-top * {
        display: inline-flex;
        width: 100%;
    }

    /*HIDES THE ONES UNDER THE HEADER*/
    .links {
        display: none;
    }

    /*THIS IS FOR SPACING THE NAV-LINKS ON THE WHITE STRIPE*/
    #right-header-links .links * {
        justify-content: flex-end;
    }

    /*THE CONTAINER FOR THE FOUR CIRCLES GOES FULL WIDTH*/
    .circle-row {
        width: 100%;
    }

    /*THE CIRCLES GET A LITTLE SMALLER*/
    .circle {
        max-width: 120px;
        max-height: 120px;
    }

    /*HR IS HIDDEN UNTIL MEDIUM*/
    hr {
        display: revert;
    }

}

/*END OF FIRST MEDIA QUERY*/

/*THIS ONE IS FOR MEDIUM SCREENS AND UP*/
@media screen and (min-width: 768px) {

    /*MOVES THE LOGO TO THE CENTER*/
    #logo-holder {
        align-items: center;
    }

    .links p {
        margin: 0;
    }

    /*ALIGNING THE TEXT NEXT TO THE LOGO IMAGE*/
    #codeup-design p {
        margin: 0;
        text-align: left;
    }

    /*HIDES THE NAV-LINKS AGAIN, BECAUSE THE OTHER ONES JUMP UP TO THE WHITE STRIPE NOW*/
    #hidden-top {
        display: none;
    }

    /*ENDS THE DISPLAY NONE ON THESE, BUT NOW THEY'RE TOP RIGHT'*/
    .links {
        display: revert;
    }

    /*CONTAINER FOR CIRCLES STILL AT FULL WIDTH*/
    .circle-row {
        width: 100%;
    }

    /*CIRCLES STAY AT 120PX*/
    .circle {
        max-width: 120px;
        max-height: 120px;
    }

    /*HR RE-APPEARS*/
    hr {
        display: revert;
    }

    /*THE LAST RE-APPEARS*/
    .the-last {
        display: revert;
    }

    /*THE THIRD COLUMN RE-APPEARS*/
    .hidden-below-medium {
        display: revert;
    }


}

/*END OF SECOND MEDIA QUERY*/


/*THIRD MEDIA QUERY FOR LARGE SCREENS*/
@media screen and (min-width: 992px) {

    /*THIS ADDS MARGINS TO THE ENTIRE CONTAINER*/
    .container-lg {
        margin-left: calc((100vw - 960px) / 2);
        margin-right: calc((100vw - 960px) / 2);
    }
}

/*FOURTH MEDIA QUERY EXTRA LARGE SCREENS*/
@media screen and (min-width: 1200px) {
    /*THIS ADDS MARGIN TO THE ENTIRE CONTAINER*/
    .container-lg {
        margin-left: calc((100vw - 1140px) / 2);
        margin-right: calc((100vw - 1140px) / 2);
    }
}

/*END OF CSS*/