/*SMALLEST SCREENS*/

/*BODY BACKGROUND*/

body {
    background-color: #E6E6E6;
}

/*THE WHITE STRIPE*/
#stripe {
    height: 80px;
    background-color: white;
    margin-top: 15px;
}

/*THE MAIN CONTAINER...IT HAS A FIXED POSITION AND Z-INDEX SO IT FLOATS ON TOP OF THE STRIPE*/
.container-fluid {
    position: fixed;
    z-index: 1000;
    top: 3px;
}

/*PARAGRAPHS*/
p {
    font-family: "Abel", sans-serif;
}

/*CODEUP DESIGN TEXT AT TOP*/
#codeup-design {
    font-size: 40px;
}

/*LOGO IMAGE*/
#logo img {
    height: 105px;
}

/*LOGO CONTAINER*/
#logo-holder {
    text-align: center;
}

/*TEXT FOR TWO HEADERS ABOVE CIRCLES*/
.second-section {
    font-family: "Anton", sans-serif;
}


/*THE CIRCLES*/
.circle {
    border: 6px solid white;
    height: 120px;
    max-width: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle *{
    color: white;
}

.cir-1 {
    background-color: #EB9D3A;
}

.cir-2 {
    background-color: #DEA03D;
}

.cir-3 {
    background-color: #7CB06C;
}

.cir-4 {
    background-color: #00ABA9;
}

#hidden-top {
    position: fixed;
    z-index: 500;
    top: 45px;
    width: 100%;
}

#hidden-top * {
    display: none;
}

.circle-row{
   width: 50%;
    margin: auto;
}

@media screen and (min-width: 576px) and (max-width: 767px) {

    #hidden-top * {
        display: inline-flex;
        width: 100%;
    }

    .links {
        display: none;
    }

    #right-header-links .links * {
        justify-content: flex-end;
    }
    .circle-row{
        width: 100%;
    }

}


@media screen and (min-width: 768px) {
    #logo-holder {
        align-items: center;
    }

    .links p {
        margin: 0;
    }

    #codeup-design p {
        margin: 0;
        text-align: left;
    }

    #hidden-top {
        display: none;
    }

    .links {
        display: revert;
    }
    .circle-row{
        width: 100%;
    }
}