/*SMALLEST SCREENS*/

/*BODY BACKGROUND*/
body {
    background-color: #E6E6E6;
}

/*THE WHITE STRIPE*/
#stripe {
    height: 80px;
    background-color: white;
    margin-top: 15px;
}

/*THE MAIN CONTAINER...IT HAS A FIXED POSITION AND Z-INDEX SO IT FLOATS ON TOP OF THE STRIPE*/
.container-fluid {
    position: fixed;
    z-index: 1000;
    top: 3px;
}

/*PARAGRAPHS*/
p {
    font-family: "Abel", sans-serif;
}

/*CODEUP DESIGN TEXT AT TOP*/
#codeup-design {
    font-size: 40px;
}

/*LOGO IMAGE*/
#logo img {
    height: 105px;
}

/*LOGO CONTAINER*/
#logo-holder {
    text-align: center;
}

/*TEXT FOR TWO HEADERS ABOVE CIRCLES*/
.second-section {
    font-family: "Anton", sans-serif;
}
